/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.upgrade_to_pro {
  padding-top: 100px;
  padding: 15px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background: url("../images/xt_logo.png") no-repeat bottom 5%right 5% #fff;
  background-size: 20%;
}
.upgrade_to_pro h2 {
  font-size: 22px !important;
  padding: 0px !important;
}
.upgrade_button {
  height: 36px !important;
  padding: 4px 20px !important;
  font-size: 16px !important;
}

.hide_frequency .import_frequency,
.xtfe_eventbrite_form tr.eventbrite_organizer_id {
  display: none;
}

.setting_bar {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 6px 0 6px 12px;
}

.import_events_nav {
  background-color: #fafafa;
}

.import_events_nav ul.vercal_tabs {
  position: relative;
  float: left;
  list-style: none;
  width: 200px;
  line-height: 1em;
  margin: 0 0 -1px 0;
  padding: 0;
  background-color: #fafafa;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}

.import_events_nav ul.vercal_tabs li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.import_events_nav ul.vercal_tabs li a {
  display: block;
  margin: 0;
  padding: 12px;
  line-height: 20px !important;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  box-shadow: none;
  font-size: 14px;
}

.import_events_nav ul.vercal_tabs li.active a {
  position: relative;
  font-weight: 700;
  color: #555;
  background-color: #fff;
  margin: 0px -1px 0px 0px;
  border-left: 2px solid #00a0d2;
}

.import_events_nav_content {
  float: left;
  width: calc(100% - 200px);
  margin-left: -1px;
  border-left: 1px solid #eee;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
}

.xt-facebook-events-page-content {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 20px 0;
}

@media (max-width: 460px) {
  .import_events_nav ul.vercal_tabs {
    float: none;
    width: 100%;
  }
  .import_events_nav_content {
    float: none;
    width: 100%;
  }
}

.xtfe_container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xtfe_container *:before,
.xtfe_container *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xtfe_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.xtfe_row {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.xtei-column {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.xtfe_container:before,
.xtfe_container:after,
.xtfe_row:before,
.xtfe_row:after {
  content: " ";
  display: table;
}

.xtfe_container:after,
.xtfe_row:after {
  clear: both;
}

.xtfe_well {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 8px 20px 12px;
}
.xtfe_label {
  font-weight: bold;
  margin-right: 20px;
  display: block;
  margin-bottom: 5px;
}
.xtfe_small {
  font-size: 13px;
  color: #777;
  display: block;
  margin-top: 5px;
}
.xtfe_submit_button {
  margin-top: 10px !important;
}

/*#poststuff .stuffbox > h3, #poststuff h2, #poststuff h3.hndle {
    padding-bottom: 0px;
}*/
.xtfe_element {
  margin-top: 5px;
  margin-bottom: 20px;
}
.xtfe_small span.borderall {
  border: 2px solid red;
}
.tecauto_cat,
.emauto_cat {
  display: none;
  margin-left: 25px;
}

.xtfe_desciption {
  display: block;
  margin-left: 25px;
  font-size: 13px;
  font-style: italic;
  color: #bababa;
}

/* Meta box design */
table.xtfe_form_table td,
table.xtfe_form_table th {
  padding: 2px 10px;
  text-align: left;
}
table.xtfe_form_table {
  width: 100%;
}
table.xtfe_form_table td input[type="text"] {
  vertical-align: bottom;
}
table.xtfe_form_table tr td:nth-child(1) {
  width: 160px;
}

.xtfe_settings_notice {
  width: 100%;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  padding: 10px;
  color: #8a6d3b;
}

.xtfe_settings_error {
  width: 100%;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  padding: 10px;
  color: #a94442;
  margin-bottom: 5px;
}

.xtfe_container .fb_authorize {
  padding: 0px 15px;
  margin-top: -10px;
  background: #ddd;
}

/* Plugin Addon List */
#xtfe-addons-list *,#xtfe-addons-list *::before,#xtfe-addons-list *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#xtfe-addons-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: -15px;
}

#xtfe-addons-list .xtfe-addon-container {
  margin-bottom: 15px;
  flex-grow: 1;
  flex-wrap: nowrap;
  padding-left: 15px;
  float: left;
  flex-basis: 50%;
  box-sizing: border-box;
}

@media  (max-width:1100px) {
  #xtfe-addons-list .xtfe-addon-container {
		min-width:100%;
		margin-bottom: 20px;
	}
}


#xtfe-addons-list .xtfe-addon-item {
	background-color: #fff;
	margin: 0;
}

@media (max-width: 767px) {
	#xtfe-addons-list .xtfe-addon-item {
		margin:0 0;
	}
}

#xtfe-addons-list .xtfe-addon-item img {
	border: 1px solid #eee;
	float: left;
	max-width: 85px;
}

#xtfe-addons-list .xtfe-addon-item h5 {
	margin: 0 0 10px 100px;
	font-size: 16px;
}

#xtfe-addons-list .xtfe-addon-item p {
	margin: 0 0 0 100px;
}

#xtfe-addons-list .xtfe-addon-item .xtfe-action-button {
	float: right;
}

#xtfe-addons-list .xtfe-addon-item .xtfe-action-button button {
	background: #007cba;
	border: 0;
    font-weight: 600;
    width: 110px;
    padding: 4px;
}


#xtfe-addons-list .xtfe-addon-item .xtfe-details {
	padding: 30px;
}

/* Clear */
.xtfe-clear:before {
	content: " ";
	display: table;
}
.xtfe-clear:after {
	clear: both;
	content: " ";
	display: table;
}

#xtfe-addons-list .xtfe-addon-item .actions {
	background-color: #f7f7f7;
	border-top: 1px solid #ddd;
	padding: 20px;
	position: relative;
}

#xtfe-addons-list .xtfe-addon-item .xtfe-status {
	float: left;
	padding-top: 8px
}

#xtfe-addons-list .xtfe-addon-item .xtfe-status .xtfe-status-inactive {
	color: red
}

#xtfe-addons-list .xtfe-addon-item .xtfe-status .statxtfe-statusus-download {
	color: #666
}

 #xtfe-addons-list .xtfe-addon-item{
  box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgb(0 0 0 / 4%);
}
#xtfe-addons-list .xtfe-addon-item .xtfe-action-button button:hover{
	background: #0071a1;
} 
/* Support page CSS */
.xtfe-support-features-card {
  display: flex;
  flex-basis: 32%;
  flex-wrap: nowrap;
  flex-grow: 1;
  box-sizing: border-box;
  margin: .5rem;
  background-color: #fff;
  box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0, 0, 0, 0.04)
}

.xtfe-support-features-card:last-child {
  max-width: 100%
}

@media (min-width: 661px) {
  .xtfe-support-features-card {
      margin-bottom: 1%
  }
}

@media (max-width: 660px) {
  .xtfe-support-features-card {
      max-width: 100%;
      margin-bottom: .5rem
  }
}

@media (min-width: 481px) {
  .xtfe-support-features-card {
      padding: 2rem
  }
}

@media (max-width: 480px) {
  .xtfe-support-features-card {
      padding: 1rem
  }
}

.xtfe-support-features-list {
  list-style: initial;
  margin-left: 1rem
}

.xtfe-support-features-img {
  width: 5.625rem;
  margin-right: .5rem;
  line-height: 1
}

@media (min-width: 961px) {
  .xtfe-support-features-img {
      width: 6.5rem;
      margin-right: 1.125rem
  }
}

.xtfe-support-features-icon {
  display: block;
  max-width: 80%;
  margin-left: 0px;
}

@media (min-width: 481px) {
  .xtfe-support-features-icon {
      max-width: 80%;
      margin-left: 0px;
  }
}

.xtfe-support-features-text {
  flex: 1
}

.xtfe-support-features-title {
  margin: 0
}

.xtfe-support-features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: -.5rem;
  margin-right: -.5rem
}

@media (max-width: 660px) {
  .xtfe-support-features {
      display: block
  }
} 

.xtfe_connection_wrapper .image_wrap img {
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  max-width: 50px;
}

.xtfe_connection_wrapper .name_wrap {
padding: 7px;
}

.xtfe_connection_wrapper .name_wrap a{
color: #a94442;
}

.xtfe_connection_wrapper .name_wrap a:hover{
color: #f00;
}

.xtfe_container .xtfe_row .toplevel_page_wpfb_events #id{
  width : 10%;
}
.xtfe_container .xtfe_row .toplevel_page_wpfb_events #shortcode{
  width : 50%;
}
.xtfe_widget_link{
  text-decoration: none;
}
.xtfe_setting_bar{
  padding: 20px 0 20px 15px;
  background-color: #e0e0e0;
}
.xtfe_mt_30{
  margin-top: 30px;
}