/* ==== GRID SYSTEM ==== */
/*!
 * Bootstrap Grid Only 1.0.0 (v3.3.5 (http://getbootstrap.com))
 * Copyright 2011-2016 Twitter, Inc.
 */
.xtfacebook_events_widget,
.xtfe_containter {
  margin: 0;
}
.xtfe_containter * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xtfe_containter *:before,
.xtfe_containter *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xtfe_container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .xtfe_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .xtfe_container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .xtfe_container {
    width: 1170px;
  }
}
.xtfe_container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row_grid {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xtfe-xs-1,
.col-xtfe-sm-1,
.col-xtfe-md-1,
.col-xtfe-lg-1,
.col-xtfe-xs-2,
.col-xtfe-sm-2,
.col-xtfe-md-2,
.col-xtfe-lg-2,
.col-xtfe-xs-3,
.col-xtfe-sm-3,
.col-xtfe-md-3,
.col-xtfe-lg-3,
.col-xtfe-xs-4,
.col-xtfe-sm-4,
.col-xtfe-md-4,
.col-xtfe-lg-4,
.col-xtfe-xs-5,
.col-xtfe-sm-5,
.col-xtfe-md-5,
.col-xtfe-lg-5,
.col-xtfe-xs-6,
.col-xtfe-sm-6,
.col-xtfe-md-6,
.col-xtfe-lg-6,
.col-xtfe-xs-7,
.col-xtfe-sm-7,
.col-xtfe-md-7,
.col-xtfe-lg-7,
.col-xtfe-xs-8,
.col-xtfe-sm-8,
.col-xtfe-md-8,
.col-xtfe-lg-8,
.col-xtfe-xs-9,
.col-xtfe-sm-9,
.col-xtfe-md-9,
.col-xtfe-lg-9,
.col-xtfe-xs-10,
.col-xtfe-sm-10,
.col-xtfe-md-10,
.col-xtfe-lg-10,
.col-xtfe-xs-11,
.col-xtfe-sm-11,
.col-xtfe-md-11,
.col-xtfe-lg-11,
.col-xtfe-xs-12,
.col-xtfe-sm-12,
.col-xtfe-md-12,
.col-xtfe-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 2%;
}
.col-xtfe-xs-1,
.col-xtfe-xs-2,
.col-xtfe-xs-3,
.col-xtfe-xs-4,
.col-xtfe-xs-5,
.col-xtfe-xs-6,
.col-xtfe-xs-7,
.col-xtfe-xs-8,
.col-xtfe-xs-9,
.col-xtfe-xs-10,
.col-xtfe-xs-11,
.col-xtfe-xs-12 {
  float: left;
}
.col-xtfe-xs-12 {
  width: 100%;
}
.col-xtfe-xs-11 {
  width: 91.66666667%;
}
.col-xtfe-xs-10 {
  width: 83.33333333%;
}
.col-xtfe-xs-9 {
  width: 75%;
}
.col-xtfe-xs-8 {
  width: 66.66666667%;
}
.col-xtfe-xs-7 {
  width: 58.33333333%;
}
.col-xtfe-xs-6 {
  width: 50%;
}
.col-xtfe-xs-5 {
  width: 41.66666667%;
}
.col-xtfe-xs-4 {
  width: 33.33333333%;
}
.col-xtfe-xs-3 {
  width: 25%;
}
.col-xtfe-xs-2 {
  width: 16.66666667%;
}
.col-xtfe-xs-1 {
  width: 8.33333333%;
}
.col-xtfe-xs-pull-12 {
  right: 100%;
}
.col-xtfe-xs-pull-11 {
  right: 91.66666667%;
}
.col-xtfe-xs-pull-10 {
  right: 83.33333333%;
}
.col-xtfe-xs-pull-9 {
  right: 75%;
}
.col-xtfe-xs-pull-8 {
  right: 66.66666667%;
}
.col-xtfe-xs-pull-7 {
  right: 58.33333333%;
}
.col-xtfe-xs-pull-6 {
  right: 50%;
}
.col-xtfe-xs-pull-5 {
  right: 41.66666667%;
}
.col-xtfe-xs-pull-4 {
  right: 33.33333333%;
}
.col-xtfe-xs-pull-3 {
  right: 25%;
}
.col-xtfe-xs-pull-2 {
  right: 16.66666667%;
}
.col-xtfe-xs-pull-1 {
  right: 8.33333333%;
}
.col-xtfe-xs-pull-0 {
  right: auto;
}
.col-xtfe-xs-push-12 {
  left: 100%;
}
.col-xtfe-xs-push-11 {
  left: 91.66666667%;
}
.col-xtfe-xs-push-10 {
  left: 83.33333333%;
}
.col-xtfe-xs-push-9 {
  left: 75%;
}
.col-xtfe-xs-push-8 {
  left: 66.66666667%;
}
.col-xtfe-xs-push-7 {
  left: 58.33333333%;
}
.col-xtfe-xs-push-6 {
  left: 50%;
}
.col-xtfe-xs-push-5 {
  left: 41.66666667%;
}
.col-xtfe-xs-push-4 {
  left: 33.33333333%;
}
.col-xtfe-xs-push-3 {
  left: 25%;
}
.col-xtfe-xs-push-2 {
  left: 16.66666667%;
}
.col-xtfe-xs-push-1 {
  left: 8.33333333%;
}
.col-xtfe-xs-push-0 {
  left: auto;
}
.col-xtfe-xs-offset-12 {
  margin-left: 100%;
}
.col-xtfe-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xtfe-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xtfe-xs-offset-9 {
  margin-left: 75%;
}
.col-xtfe-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xtfe-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xtfe-xs-offset-6 {
  margin-left: 50%;
}
.col-xtfe-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xtfe-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xtfe-xs-offset-3 {
  margin-left: 25%;
}
.col-xtfe-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xtfe-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xtfe-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-xtfe-sm-1,
  .col-xtfe-sm-2,
  .col-xtfe-sm-3,
  .col-xtfe-sm-4,
  .col-xtfe-sm-5,
  .col-xtfe-sm-6,
  .col-xtfe-sm-7,
  .col-xtfe-sm-8,
  .col-xtfe-sm-9,
  .col-xtfe-sm-10,
  .col-xtfe-sm-11,
  .col-xtfe-sm-12 {
    float: left;
  }
  .col-xtfe-sm-12 {
    width: 100%;
  }
  .col-xtfe-sm-11 {
    width: 91.66666667%;
  }
  .col-xtfe-sm-10 {
    width: 83.33333333%;
  }
  .col-xtfe-sm-9 {
    width: 75%;
  }
  .col-xtfe-sm-8 {
    width: 66.66666667%;
  }
  .col-xtfe-sm-7 {
    width: 58.33333333%;
  }
  .col-xtfe-sm-6 {
    width: 50%;
  }
  .col-xtfe-sm-5 {
    width: 41.66666667%;
  }
  .col-xtfe-sm-4 {
    width: 33.33333333%;
  }
  .col-xtfe-sm-3 {
    width: 25%;
  }
  .col-xtfe-sm-2 {
    width: 16.66666667%;
  }
  .col-xtfe-sm-1 {
    width: 8.33333333%;
  }
  .col-xtfe-sm-pull-12 {
    right: 100%;
  }
  .col-xtfe-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-xtfe-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-xtfe-sm-pull-9 {
    right: 75%;
  }
  .col-xtfe-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-xtfe-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-xtfe-sm-pull-6 {
    right: 50%;
  }
  .col-xtfe-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-xtfe-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-xtfe-sm-pull-3 {
    right: 25%;
  }
  .col-xtfe-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-xtfe-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-xtfe-sm-pull-0 {
    right: auto;
  }
  .col-xtfe-sm-push-12 {
    left: 100%;
  }
  .col-xtfe-sm-push-11 {
    left: 91.66666667%;
  }
  .col-xtfe-sm-push-10 {
    left: 83.33333333%;
  }
  .col-xtfe-sm-push-9 {
    left: 75%;
  }
  .col-xtfe-sm-push-8 {
    left: 66.66666667%;
  }
  .col-xtfe-sm-push-7 {
    left: 58.33333333%;
  }
  .col-xtfe-sm-push-6 {
    left: 50%;
  }
  .col-xtfe-sm-push-5 {
    left: 41.66666667%;
  }
  .col-xtfe-sm-push-4 {
    left: 33.33333333%;
  }
  .col-xtfe-sm-push-3 {
    left: 25%;
  }
  .col-xtfe-sm-push-2 {
    left: 16.66666667%;
  }
  .col-xtfe-sm-push-1 {
    left: 8.33333333%;
  }
  .col-xtfe-sm-push-0 {
    left: auto;
  }
  .col-xtfe-sm-offset-12 {
    margin-left: 100%;
  }
  .col-xtfe-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xtfe-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xtfe-sm-offset-9 {
    margin-left: 75%;
  }
  .col-xtfe-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xtfe-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xtfe-sm-offset-6 {
    margin-left: 50%;
  }
  .col-xtfe-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xtfe-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xtfe-sm-offset-3 {
    margin-left: 25%;
  }
  .col-xtfe-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xtfe-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xtfe-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-xtfe-md-1,
  .col-xtfe-md-2,
  .col-xtfe-md-3,
  .col-xtfe-md-4,
  .col-xtfe-md-5,
  .col-xtfe-md-6,
  .col-xtfe-md-7,
  .col-xtfe-md-8,
  .col-xtfe-md-9,
  .col-xtfe-md-10,
  .col-xtfe-md-11,
  .col-xtfe-md-12 {
    float: left;
    margin-bottom: 2%;
  }
  .col-xtfe-md-12 {
    width: 100%;
  }
  .col-xtfe-md-11 {
    width: 91.66666667%;
  }
  .col-xtfe-md-10 {
    width: 83.33333333%;
  }
  .col-xtfe-md-9 {
    width: 75%;
  }
  .col-xtfe-md-8 {
    width: 66.66666667%;
  }
  .col-xtfe-md-7 {
    width: 58.33333333%;
  }
  .col-xtfe-md-6 {
    width: 50%;
  }
  .col-xtfe-md-5 {
    width: 41.66666667%;
  }
  .col-xtfe-md-4 {
    width: 33.33333333%;
    margin-bottom: 2%;
  }
  .col-xtfe-md-3 {
    width: 25%;
  }
  .col-xtfe-md-2 {
    width: 16.66666667%;
  }
  .col-xtfe-md-1 {
    width: 8.33333333%;
  }
  .col-xtfe-md-pull-12 {
    right: 100%;
  }
  .col-xtfe-md-pull-11 {
    right: 91.66666667%;
  }
  .col-xtfe-md-pull-10 {
    right: 83.33333333%;
  }
  .col-xtfe-md-pull-9 {
    right: 75%;
  }
  .col-xtfe-md-pull-8 {
    right: 66.66666667%;
  }
  .col-xtfe-md-pull-7 {
    right: 58.33333333%;
  }
  .col-xtfe-md-pull-6 {
    right: 50%;
  }
  .col-xtfe-md-pull-5 {
    right: 41.66666667%;
  }
  .col-xtfe-md-pull-4 {
    right: 33.33333333%;
  }
  .col-xtfe-md-pull-3 {
    right: 25%;
  }
  .col-xtfe-md-pull-2 {
    right: 16.66666667%;
  }
  .col-xtfe-md-pull-1 {
    right: 8.33333333%;
  }
  .col-xtfe-md-pull-0 {
    right: auto;
  }
  .col-xtfe-md-push-12 {
    left: 100%;
  }
  .col-xtfe-md-push-11 {
    left: 91.66666667%;
  }
  .col-xtfe-md-push-10 {
    left: 83.33333333%;
  }
  .col-xtfe-md-push-9 {
    left: 75%;
  }
  .col-xtfe-md-push-8 {
    left: 66.66666667%;
  }
  .col-xtfe-md-push-7 {
    left: 58.33333333%;
  }
  .col-xtfe-md-push-6 {
    left: 50%;
  }
  .col-xtfe-md-push-5 {
    left: 41.66666667%;
  }
  .col-xtfe-md-push-4 {
    left: 33.33333333%;
  }
  .col-xtfe-md-push-3 {
    left: 25%;
  }
  .col-xtfe-md-push-2 {
    left: 16.66666667%;
  }
  .col-xtfe-md-push-1 {
    left: 8.33333333%;
  }
  .col-xtfe-md-push-0 {
    left: auto;
  }
  .col-xtfe-md-offset-12 {
    margin-left: 100%;
  }
  .col-xtfe-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xtfe-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xtfe-md-offset-9 {
    margin-left: 75%;
  }
  .col-xtfe-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xtfe-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xtfe-md-offset-6 {
    margin-left: 50%;
  }
  .col-xtfe-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xtfe-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xtfe-md-offset-3 {
    margin-left: 25%;
  }
  .col-xtfe-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xtfe-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xtfe-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-xtfe-lg-1,
  .col-xtfe-lg-2,
  .col-xtfe-lg-3,
  .col-xtfe-lg-4,
  .col-xtfe-lg-5,
  .col-xtfe-lg-6,
  .col-xtfe-lg-7,
  .col-xtfe-lg-8,
  .col-xtfe-lg-9,
  .col-xtfe-lg-10,
  .col-xtfe-lg-11,
  .col-xtfe-lg-12 {
    float: left;
  }
  .col-xtfe-lg-12 {
    width: 100%;
  }
  .col-xtfe-lg-11 {
    width: 91.66666667%;
  }
  .col-xtfe-lg-10 {
    width: 83.33333333%;
  }
  .col-xtfe-lg-9 {
    width: 75%;
  }
  .col-xtfe-lg-8 {
    width: 66.66666667%;
  }
  .col-xtfe-lg-7 {
    width: 58.33333333%;
  }
  .col-xtfe-lg-6 {
    width: 50%;
  }
  .col-xtfe-lg-5 {
    width: 41.66666667%;
  }
  .col-xtfe-lg-4 {
    width: 33.33333333%;
  }
  .col-xtfe-lg-3 {
    width: 25%;
  }
  .col-xtfe-lg-2 {
    width: 16.66666667%;
  }
  .col-xtfe-lg-1 {
    width: 8.33333333%;
  }
  .col-xtfe-lg-pull-12 {
    right: 100%;
  }
  .col-xtfe-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-xtfe-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-xtfe-lg-pull-9 {
    right: 75%;
  }
  .col-xtfe-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-xtfe-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-xtfe-lg-pull-6 {
    right: 50%;
  }
  .col-xtfe-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-xtfe-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-xtfe-lg-pull-3 {
    right: 25%;
  }
  .col-xtfe-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-xtfe-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-xtfe-lg-pull-0 {
    right: auto;
  }
  .col-xtfe-lg-push-12 {
    left: 100%;
  }
  .col-xtfe-lg-push-11 {
    left: 91.66666667%;
  }
  .col-xtfe-lg-push-10 {
    left: 83.33333333%;
  }
  .col-xtfe-lg-push-9 {
    left: 75%;
  }
  .col-xtfe-lg-push-8 {
    left: 66.66666667%;
  }
  .col-xtfe-lg-push-7 {
    left: 58.33333333%;
  }
  .col-xtfe-lg-push-6 {
    left: 50%;
  }
  .col-xtfe-lg-push-5 {
    left: 41.66666667%;
  }
  .col-xtfe-lg-push-4 {
    left: 33.33333333%;
  }
  .col-xtfe-lg-push-3 {
    left: 25%;
  }
  .col-xtfe-lg-push-2 {
    left: 16.66666667%;
  }
  .col-xtfe-lg-push-1 {
    left: 8.33333333%;
  }
  .col-xtfe-lg-push-0 {
    left: auto;
  }
  .col-xtfe-lg-offset-12 {
    margin-left: 100%;
  }
  .col-xtfe-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xtfe-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xtfe-lg-offset-9 {
    margin-left: 75%;
  }
  .col-xtfe-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xtfe-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xtfe-lg-offset-6 {
    margin-left: 50%;
  }
  .col-xtfe-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xtfe-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xtfe-lg-offset-3 {
    margin-left: 25%;
  }
  .col-xtfe-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xtfe-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xtfe-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.xtfe_container:before,
.xtfe_container:after,
.xtfe_container-fluid:before,
.xtfe_container-fluid:after,
.row_grid:before,
.row_grid:after {
  content: " ";
  display: table;
}
.clearfix:after,
.xtfe_container:after,
.xtfe_container-fluid:after,
.row_grid:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

.xtfe_event .event_date {
  background-color: #039ed7;
  color: #fff;
  padding: 10px 5px 5px 5px;
  text-align: center;
  width: 75px;
  float: left;
  height: 100%;
}

.xtfe_event .event_picture {
  background-color: #efefef;
  color: #fff;
  padding: 12px;
  text-align: center;
  width: 75px;
  float: left;
  height: 100%;
}

.xtfe_event .event_date .month {
  display: block;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.2em;
}

.xtfe_event .event_date .date {
  display: block;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.6em;
}

.xtfe_event .event_details, .xtfe_event.event_details {
  background-color: #f5f5f5;
  height: 75px;
  font-size: 16px;
}

.xtfe_event .event_details .fa, .xtfe_event.event_details .fa {
  text-align: center;
  width: 16px;
  margin-right: 4px;
}

.xtfe_event .event_details p.description, .xtfe_event.event_details p.description {
  color: #666;
}

.xtfe_event .event_desc {
  float: left;
  width: calc(100% - 75px);
  padding: 8px 10px;
}

.xtfe_event .event_desc .event_address,
.xtfe_event .event_desc .event_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.xtfe_event .event_desc .event_name {
  font-size: 1.2em;
  color: #039ed7;
  line-height: 1.3em;
}

.xtfe_event .img_placeholder {
  background-size: cover !important;
  min-height: 130px;
}
.archive-event .xtfe_event {
  height: 205px;
}

.event_wiget_style2 .event_details {
  height: auto;
}

.fbevents_widget {
  margin-bottom: 10px;
}

.xtfacebook_events_widget {
  max-height: 600px;
  overflow: auto;
}

/* Responsive Grid View style1*/
.col-xtfe-md-3 .xtfe_event .img_placeholder {
  background-size: cover !important;
  min-height: 130px !important;
}
 .col-xtfe-md-3 .xtfe_event {
  height: auto !important;
  font-size: 16px;
}
.col-xtfe-md-4 .xtfe_event .img_placeholder {
  background-size: cover !important;
  min-height: 170px !important;
}
 .col-xtfe-md-4 .xtfe_event {
  height: auto !important;
  font-size: 16px;
}
.col-xtfe-md-6 .xtfe_event .img_placeholder {
  background-size: cover !important;
  min-height: 260px !important;
}
 .col-xtfe-md-6 .xtfe_event {
  height: auto !important;
  font-size: 16px;
}
.col-xtfe-md-12 .xtfe_event .img_placeholder {
  background-size: cover !important;
  min-height: 35em !important;
}
.col-xtfe-md-12 .xtfe_event {
  height: auto !important;
  font-size: 16px;
}

@media (max-width: 320px) { 
  .archive-event .xtfe_event .img_placeholder {
    background-size: cover !important;
    min-height: 140px !important;
  }
}
@media (min-width: 321px) and (max-width: 576px) { 
  .archive-event .xtfe_event .img_placeholder {
    background-size: cover !important;
    min-height: 170px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) { 
  .col-xtfe-md-3 .xtfe_event .img_placeholder {
    min-height: 240px !important;
  }
  .col-xtfe-md-4 .xtfe_event .img_placeholder {
    min-height: 240px !important;
  }
  .col-xtfe-md-6 .xtfe_event .img_placeholder {
    min-height: 240px !important;
  }
  .col-xtfe-md-12 .xtfe_event .img_placeholder {
    min-height: 240px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .col-xtfe-md-3 .xtfe_event .img_placeholder {
    background-size: cover !important;
    min-height: 350px !important;
  }
  .col-xtfe-md-4 .xtfe_event .img_placeholder {
    background-size: cover !important;
    min-height: 350px !important;
  }
  .col-xtfe-md-6 .xtfe_event .img_placeholder {
    background-size: cover !important;
    min-height: 350px !important;
  }
  .col-xtfe-md-12 .xtfe_event .img_placeholder {
    background-size: cover !important;
    min-height: 350px !important;
  }
}

@media (min-width: 993px) and (max-width: 1200px) { 
  .col-xtfe-md-3 .xtfe_event .img_placeholder {
    background-size: cover !important;
    min-height: 100px !important;
  }
  .col-xtfe-md-4 .xtfe_event .img_placeholder {
    background-size: cover !important;
    min-height: 140px !important;
  }
  .col-xtfe-md-6 .xtfe_event .img_placeholder {
    background-size: cover !important;
    min-height: 220px !important;
  }
  .col-xtfe-md-12 .xtfe_event .img_placeholder {
    background-size: cover !important;
    min-height: 25em !important;
  }
  .col-xtfe-md-3 .xtfe_event .event_details{
    background-color: #f5f5f5;
    height: 60px;
  }
  .col-xtfe-md-3 .xtfe_event .event_date{
    font-size: 12px;
    padding: 8px 5px 5px 5px;
    width: 55px;
  }
  .col-xtfe-md-3 .xtfe_event .event_desc{
    font-size: 12px;
    width: calc( 100% - 55px );
  }

  .col-xtfe-md-4 .xtfe_event .event_details{
    background-color: #f5f5f5;
    height: 60px;
  }
  .col-xtfe-md-4 .xtfe_event .event_date{
    font-size: 12px;
    padding: 8px 5px 5px 5px;
    width: 55px;
  }
  .col-xtfe-md-4 .xtfe_event .event_desc{
    font-size: 12px;
    width: calc( 100% - 55px );
  }
}
